$main-yellow: #ffe000;
$main-gray: #232323;
$main-gray--lighter: lighten($main-gray, 10%);
$main-gray--darker: darken($main-gray, 10%);
$background-gray: lighten($main-gray, 80%);

$spacing--xsmall: 2px;
$spacing--small: 4px;
$spacing: 8px;
$spacing--large: 16px;
$spacing--xlarge: 24px;
$spacing--xxlarge: 32px;

// Small tablets and large smartphones (landscape view)
$screen-sm-min: 576px;
// Small tablets (portrait view)
$screen-md-min: 768px;
// Tablets and small desktops
$screen-lg-min: 992px;
// Large tablets and desktops
$screen-xl-min: 1200px;

// MIXINS

// Small devices
@mixin sm {
  @media (min-width: #{$screen-sm-min}) {
    @content;
  }
}

// Medium devices
@mixin md {
  @media (min-width: #{$screen-md-min}) {
    @content;
  }
}

// Large devices
@mixin lg {
  @media (min-width: #{$screen-lg-min}) {
    @content;
  }
}

// Extra large devices
@mixin xl {
  @media (min-width: #{$screen-xl-min}) {
    @content;
  }
}
